In [1]:
import pandas as pd
# importing pandas library, this is not available by default.
# pd is it alias

### Reading different files using pandas. 

We type pd.read_filetype

For reference examples are shown below.

In [5]:
# reading a csv file
pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### First row is considered as column name in given dataset.

In a case where data first row don't have column name, all enteries present in first row will be considered as column name.

Pandas try to give you structured data in a tubular form.

Pandas do the default row indexing if explicit row indexing is not mentioned by the user and the implicit value of row indexing starts from 0 as can be seen from above table.

In [6]:
df = pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv')

In [7]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [10]:
df.head()
# head() is a inbuilt function for pandas which displayes the first 5 records by default
# You can view only first 2 records by df.head(2)
# So in order to view starting 'n' records you can use head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...

In [11]:
df.head(2)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...

In [13]:
df.head(15)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
5,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
8,2020,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"119,387",ANZSIC06 divisions A-S (excluding classes K633...
9,2020,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,305,ANZSIC06 divisions A-S (excluding classes K633...
10,2020,Level 1,99999,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"1,756",ANZSIC06 divisions A-S (excluding classes K633...
11,2020,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"450,394",ANZSIC06 divisions A-S (excluding classes K633...
12,2020,Level 1,99999,All industries,Dollars (millions),H20,Non-operating expenses,Financial performance,"16,274",ANZSIC06 divisions A-S (excluding classes K633...
13,2020,Level 1,99999,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,109",ANZSIC06 divisions A-S (excluding classes K633...
14,2020,Level 1,99999,All industries,Dollars (millions),H22,Closing stocks,Financial performance,"69,123",ANZSIC06 divisions A-S (excluding classes K633...

In [14]:
df.tail()
# tail() is a inbuilt function for pandas which displayes the last 5 records by default
# You can view only last 2 records by df.tail(2)
# So in order to view starting 'n' records you can use tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [15]:
df.tail(2)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [17]:
df.tail(12)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
37068,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H30,Total equity and liabilities,Financial position,"23,102","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37069,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"10,670","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37070,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,"10,212","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37071,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,"2,220","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37072,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,"523,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37073,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### In order to store data in a csv format we can use to_csv command as shown below.

In [18]:
df1 = df.tail(12)

In [20]:
df1.to_csv('dftail.csv')

In [22]:
pd.read_csv('dftail.csv')
# in below data we can see that unnamed column is added
# this is because every first row element is converted to column name

,Unnamed: 0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,37068,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H30,Total equity and liabilities,Financial position,"23,102","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
1,37069,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"10,670","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2,37070,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,"10,212","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
3,37071,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,"2,220","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4,37072,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,"523,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
5,37073,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
6,37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
7,37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
8,37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9,37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
10,37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
11,37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### Now first requirement is to read data without reading first column name of given csv file. Make header parameter = None

In [24]:
pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [30]:
df2=pd.read_csv('process.csv',delimiter= '    ')

<ipython-input-30-096af9df2d7e>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2=pd.read_csv('process.csv',delimiter= '    ')

In [31]:
df2

,NPM(K),PM(M),WS(M),CPU(s),Id SI ProcessName
0,27,17.29,36.16,8.48,6524 3 ApplicationFrameHost
1,9,1.86,4.16,0.00,4656 0 armsvc
2,53,51.80,49.80,9.38,6120 3 atmgr
3,14,13.29,20.73,5.50 14332 0 audiodg,None
4,9,1.55,8.00,0.05,832 3 browser_broker
...,...,...,...,...,...
180,21,14.66,37.00,4.78,2068 3 WindowsInternal.ComposableShell.Exper...
181,11,1.49,4.15,0.00,716 0 wininit
182,12,2.41,9.52,0.00 13748 3 winlogon,None
183,38,21.23,0.11,0.41,6476 3 WinStore.App
184,13,3.66,7.82,0.00,712 0 WUDFHost

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NPM(K)                185 non-null    object
 1   PM(M)                 185 non-null    float64
 2     WS(M)               185 non-null    object
 3    CPU(s)               183 non-null    object
 4     Id  SI ProcessName  137 non-null    object
dtypes: float64(1), object(4)
memory usage: 7.4+ KB

In [65]:
df2.describe()

            PM(M)
count  185.000000
mean    16.179297
std     34.053164
min      0.060000
25%      2.180000
50%      4.450000
75%     12.680000
max    221.430000

In [37]:
df1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
37068,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H30,Total equity and liabilities,Financial position,"23,102","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37069,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"10,670","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37070,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,"10,212","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37071,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,"2,220","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37072,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,"523,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37073,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### Now first requirement is to read data without reading first column name of given csv file

In [39]:
pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [41]:
pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv',header=None)
# We can see that this time we recevie column indexes 
# Now first row is not considered as header as header = None is set by us.

,0,1,2,3,4,5,6,7,8,9
0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37080,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### Requirement is given user defined colunm name.

In [44]:
pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv',header=None,names=['a','b','c','d','e','f','g','i','j','k'])

,a,b,c,d,e,f,g,i,j,k
0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37080,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [47]:
pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv',header=None,names=['a','b','c'])
# In case you miss naming all column names you will recevie only thise colunm names that are present in 'names'

                                                                                                                                                                                       a  \
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC       Units              Variable_code Variable_name                                        Variable_category
2020 Level 1                     99999                All industries             Dollars (millions) H01           Total income                                     Financial performance
                                                                                                    H04           Sales, government funding, grants and subsidies  Financial performance
                                                                                                    H05           Interest, dividends and donations                Financial performance
                                                                                                    H07           Non-operating income                             Financial performance
...                                                                                                                                                                                  ...
2013 Level 3                     ZZ11                 Food product manufacturing Percentage         H37           Quick ratio                                           Financial ratios
                                                                                                    H38           Margin on sales of goods for resale                   Financial ratios
                                                                                                    H39           Return on equity                                      Financial ratios
                                                                                                    H40           Return on total assets                                Financial ratios
                                                                                                    H41           Liabilities structure                                 Financial ratios

                                                                                                                                                                         b  \
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC       Units              Variable_code Variable_name                                      Value
2020 Level 1                     99999                All industries             Dollars (millions) H01           Total income                                     733,258
                                                                                                    H04           Sales, government funding, grants and subsidies  660,630
                                                                                                    H05           Interest, dividends and donations                 54,342
                                                                                                    H07           Non-operating income                              18,285
...                                                                                                                                                                    ...
2013 Level 3                     ZZ11                 Food product manufacturing Percentage         H37           Quick ratio                                           52
                                                                                                    H38           Margin on sales of goods for resale                   40
                                                                                                    H39           Return on equity                                      12
                                                                                                    H40           Return on total assets                                 5
                                                                                                    H41           Liabilities structure                                 46

                                                                                                                                                                                                                   c
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC       Units              Variable_code Variable_name                                                               Industry_code_ANZSIC06
2020 Level 1                     99999                All industries             Dollars (millions) H01           Total income                                     ANZSIC06 divisions A-S (excluding classes K633...
                                                                                                    H04           Sales, government funding, grants and subsidies  ANZSIC06 divisions A-S (excluding classes K633...
                                                                                                    H05           Interest, dividends and donations                ANZSIC06 divisions A-S (excluding classes K633...
                                                                                                    H07           Non-operating income                             ANZSIC06 divisions A-S (excluding classes K633...
...                                                                                                                                                                                                              ...
2013 Level 3                     ZZ11                 Food product manufacturing Percentage         H37           Quick ratio                                      ANZSIC06 groups C111, C112, C113, C114, C115, ...
                                                                                                    H38           Margin on sales of goods for resale              ANZSIC06 groups C111, C112, C113, C114, C115, ...
                                                                                                    H39           Return on equity                                 ANZSIC06 groups C111, C112, C113, C114, C115, ...
                                                                                                    H40           Return on total assets                           ANZSIC06 groups C111, C112, C113, C114, C115, ...
                                                                                                    H41           Liabilities structure                            ANZSIC06 groups C111, C112, C113, C114, C115, ...

[37081 rows x 3 columns]

### Skipping rows in dataframe

In [49]:
df.head(3)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...

In [51]:
pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv',skiprows=[1,3,5,7])
# in order to confirm this, check Variable_code column and you will see difference.

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"119,387",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37071,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37072,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37073,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37074,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### Now replacing particular value with NaN

In [54]:
df11 = pd.read_csv('annual-enterprise-survey-2020-financial-year-provisional-csv.csv', na_values=['Level 1'])

In [56]:
df11
# Now Level 1 will be replaced by Nan values

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,NaN,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,NaN,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,NaN,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,NaN,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,NaN,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [57]:
type(df11)

pandas.core.frame.DataFrame

In [63]:
df.describe()
# Very usefull function to get insight for numerical data BY DEFAULT present in dataframe. 
# You can also get insight for data other than numerical.

               Year
count  37080.000000
mean    2016.500000
std        2.291319
min     2013.000000
25%     2014.750000
50%     2016.500000
75%     2018.250000
max     2020.000000

### 1. count gives totsl number of rows which has records. If the value present is Nan that will be not counted.

 ### count does not gurantee that you will have that much only number of rows as   shown in result.

### 2. Mean is average of the total numerical observation.

### 3. std refers to standard deviation of the observation. In simple words standard deviation is kind of fluctuation from mean.

### 4. min and max are minimun and maximum value from the given observations

### 5. Before doing below operation, data is sorted into ascending order first.

###    25% is twenty fivth percentile data which means data value available of 25th percent position of that value. Suppose you have total 12 data now 25% means data value present at 4th position. 


###    Similarly 50% means data value what is present at half and 75% means that data value present at 3/4 of distribution.

In [66]:
print([0,[1,2,3,4,5][2],2][1])

3

In [64]:
df.dtypes
# Above command returns data type for each and evry column.
# int64 is integer data type
# object is string data type

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In order to remove default index we can mentioned --> index = False as shown below

In [69]:
df22=df

In [70]:
df22

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [77]:
df22.to_csv("result.csv",index=False)
# open this via excel and you won't see default index

In [80]:
df22.to_csv("result1.csv",index=False,header=False)
# now you won't have first row as colunm when you open in excel.

### Replacing default seperator by our own separator as whon below.

In [87]:
df22.to_csv("result1.csv",index=False,header=False,sep='#')

In [88]:
df22

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### Selecting particular colunms from given dataframe.

In [93]:
df22.columns
# to get all coulmns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [94]:
df22['Year']

0        2020
1        2020
2        2020
3        2020
4        2020
         ...
37075    2013
37076    2013
37077    2013
37078    2013
37079    2013
Name: Year, Length: 37080, dtype: int64

In [98]:
type(df22['Year'])
# Only one column is know as SERIES.
# More than column is known as dataframe.
# Series is a subset of dataframe

pandas.core.series.Series

In [99]:
df22[['Year']]

       Year
0      2020
1      2020
2      2020
3      2020
4      2020
...     ...
37075  2013
37076  2013
37077  2013
37078  2013
37079  2013

[37080 rows x 1 columns]

In [101]:
type(df22[['Year']])
# Above technique is used to convert Series into dataframe.

pandas.core.frame.DataFrame

In [102]:
df22.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [103]:
df22[['Year','Value']]
# Using above technique we can extract multiple columns

       Year    Value
0      2020  733,258
1      2020  660,630
2      2020   54,342
3      2020   18,285
4      2020  654,872
...     ...      ...
37075  2013       52
37076  2013       40
37077  2013       12
37078  2013        5
37079  2013       46

[37080 rows x 2 columns]

In [104]:
df22[['Year','Value','Industry_code_ANZSIC06']]

       Year    Value                             Industry_code_ANZSIC06
0      2020  733,258  ANZSIC06 divisions A-S (excluding classes K633...
1      2020  660,630  ANZSIC06 divisions A-S (excluding classes K633...
2      2020   54,342  ANZSIC06 divisions A-S (excluding classes K633...
3      2020   18,285  ANZSIC06 divisions A-S (excluding classes K633...
4      2020  654,872  ANZSIC06 divisions A-S (excluding classes K633...
...     ...      ...                                                ...
37075  2013       52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
37076  2013       40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
37077  2013       12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
37078  2013        5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
37079  2013       46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[37080 rows x 3 columns]

### Reading data from excel sheet

In [106]:
pd.read_excel('cars.xls')
# By default it will read out first sheet from the excel file.

      MPG  CYL    ENG   WGT
0    18.0    8  307.0  3504
1    15.0    8  350.0  3693
2    18.0    8  318.0  3436
3    16.0    8  304.0  3433
4    17.0    8  302.0  3449
..    ...  ...    ...   ...
387  27.0    4  140.0  2790
388  44.0    4   97.0  2130
389  32.0    4  135.0  2295
390  28.0    4  120.0  2625
391  31.0    4  119.0  2720

[392 rows x 4 columns]

### Reading data from a particular sheet in given execel file

In [108]:
pd.read_excel('cars.xls',sheet_name='sheet_2')
# We use parameter sheet_name to read the data from a particular execel sheet.

,YEAR,Q,Y,PCHICK,PBEEF,PCOR,PF,CPI,QPRODA,POP,MEATEX,TIME
0,1950,14.300000,7863,69.500000,31.200001,59.799999,NaN,24.100000,2628500.0,151.684006,NaN,41
1,1951,15.100000,7953,72.900002,36.500000,72.099998,NaN,26.000000,2843000.0,154.287003,NaN,42
2,1952,15.300000,8071,73.099998,36.200001,71.300003,NaN,26.500000,2851200.0,156.953995,NaN,43
3,1953,15.200000,8319,71.300003,28.500000,62.700001,NaN,26.700001,2953900.0,159.565002,NaN,44
4,1954,15.800000,8276,64.400002,27.400000,63.400002,NaN,26.900000,3099700.0,162.391006,NaN,45
5,1955,14.700000,8675,67.000000,27.100000,56.099998,NaN,26.799999,2958100.0,165.274994,NaN,46
6,1956,16.799999,8930,58.799999,26.700001,57.700001,NaN,27.200001,3492200.0,168.220993,NaN,47
7,1957,17.600000,8988,57.299999,28.700001,51.599998,NaN,28.100000,3647100.0,171.274002,NaN,48
8,1958,19.299999,8922,56.599998,33.400002,50.099998,NaN,28.900000,4144800.0,174.141006,NaN,49
9,1959,19.799999,9167,51.599998,34.400002,48.599998,NaN,29.100000,4331118.0,177.072998,NaN,50
10,1960,19.200001,9210,52.400002,33.500000,46.000000,51.533611,29.600000,4333602.0,180.671005,50.0,51
11,1961,20.600000,9361,47.400002,33.000000,45.099998,51.868240,29.900000,4944130.0,183.690994,49.0,52
12,1962,20.600000,9666,50.000000,34.200001,44.799999,52.091331,30.200001,4997189.0,186.537994,46.0,53
13,1963,21.100000,9886,49.299999,33.799999,49.799999,50.975880,30.600000,5269019.0,189.242004,80.0,54
14,1964,21.299999,10456,48.200001,32.799999,49.900002,50.752789,31.000000,5443769.0,191.889008,78.0,55
15,1965,22.900000,10965,49.799999,34.400002,51.799999,50.975880,31.500000,5871560.0,194.302994,49.0,56
16,1966,24.500000,11417,52.700001,36.200001,54.500000,52.481731,32.400002,6437127.0,196.559998,44.0,57
17,1967,25.100000,11776,48.799999,36.400002,51.700001,51.868240,33.400002,6552305.0,198.712006,45.0,58
18,1968,25.200001,12196,51.200001,37.900002,45.500000,49.525799,34.799999,6653319.0,200.705994,59.0,59
19,1969,26.299999,12451,54.099998,41.700001,49.299999,50.362389,36.700001,7174882.0,202.677002,87.0,60
20,1970,27.400000,12823,52.400002,43.500000,54.500000,53.151001,38.799999,7686589.0,205.052002,49.0,61
21,1971,27.400000,13218,52.900002,45.500000,55.700001,54.545311,40.500000,7723561.0,207.660995,57.0,62
22,1972,28.299999,13692,53.400002,49.700001,52.099998,54.824169,41.799999,8146839.0,209.895996,76.0,63
23,1973,27.100000,14496,77.099998,59.599998,89.000000,84.662354,44.400002,7961659.0,211.908997,119.0,64
24,1974,27.000000,14268,72.300003,61.299999,128.199997,94.032097,49.299999,8034339.0,213.854004,76.0,65
25,1975,26.400000,14393,81.400002,61.900002,115.199997,91.131943,53.799999,8019673.0,215.973007,120.0,66
26,1976,28.500000,14873,76.900002,59.900002,107.599998,93.864777,56.900002,9012071.0,218.035004,184.0,67
27,1977,29.000000,15256,77.300003,59.500000,88.000000,95.259087,60.599998,9279454.0,220.238998,180.0,68
28,1978,30.400000,15845,85.599998,73.099998,92.000000,94.422501,65.199997,9902015.0,222.585007,204.0,69
29,1979,32.799999,16120,87.199997,93.099998,104.500000,105.521202,72.599998,10926345.0,225.054993,210.0,70
30,1980,32.700001,16063,94.400002,98.400002,119.199997,115.337097,82.400002,11251965.0,227.725998,194.0,71
31,1981,33.700001,16265,96.500000,99.199997,125.900002,126.658897,90.900002,11868104.0,229.966003,239.0,72
32,1982,33.900002,16328,94.800003,100.599998,100.000000,117.010300,96.500000,11995693.0,232.188004,212.0,73
33,1983,34.000000,16673,96.300003,99.099998,128.399994,124.316498,99.599998,12325516.0,234.307007,224.0,74
34,1984,35.299999,17799,109.000000,100.300003,129.699997,130.061005,103.900002,12920828.0,236.348007,226.0,75
35,1985,36.400002,18229,104.500000,98.199997,105.900002,109.759903,107.599998,13519558.0,238.466003,209.0,76
36,1986,37.200001,18641,115.400002,98.800003,83.500000,104.461502,109.599998,14180145.0,240.651001,278.0,77
37,1987,39.400002,18870,113.300003,106.300003,67.699997,103.178802,113.599998,15413103.0,242.804001,326.0,78
38,1988,39.599998,19522,125.099998,112.099998,97.099998,148.354294,118.300003,16006986.0,245.020996,401.0,79
39,1989,40.900002,19833,137.100006,119.300003,102.400002,143.055893,124.000000,17227112.0,247.341995,583.0,80
40,1990,42.400002,20058,134.899994,128.800003,100.900002,130.953400,130.699997,18429896.0,249.973007,564.0,81
41,1991,44.099998,19873,131.699997,132.399994,97.000000,126.658897,136.199997,19591104.0,253.335999,667.0,82
42,1992,46.500000,20220,131.899994,132.300003,96.000000,125.376099,140.300003,20903764.0,256.677002,786.0,83
43,1993,48.200001,20235,138.000000,137.100006,92.900002,131.399506,144.500000,22014912.0,260.036987,780.0,84
44,1994,48.799999,20507,140.100006,136.000000,100.099998,136.474792,148.199997,23666036.0,263.226013,980.0,85
45,1995,48.200001,20798,142.199997,134.899994,109.000000,138.482605,152.399994,24827130.0,266.364014,1183.0,86
46,1996,48.799999,21072,152.600006,134.500000,158.500000,174.344193,156.899994,26123768.0,269.484985,1291.0,87
47,1997,49.500000,21470,158.500000,136.800003,110.099998,157.779800,160.500000,27041394.0,272.756012,1443.0,88
48,1998,49.799999,22359,159.600006,136.500000,91.699997,128.945602,163.000000,27612360.0,275.954987,1543.0,89
49,1999,52.900002,22678,161.800003,139.199997,78.199997,102.899902,166.600006,29741380.0,279.144012,1674.0,90
50,2000,53.200001,23501,162.899994,148.100006,76.400002,NaN,172.199997,30495172.0,282.489014,1703.0,91
51,2001,53.900002,23692,168.000000,160.500000,78.800003,NaN,177.100006,NaN,286.362000,1737.0,92

### Reading data from HTML pages.

In [111]:
df55 = pd.read_html('https://www.basketball-reference.com/players/j/jordami01.html')

### pd.read_html('page address') tries to read html data. It will read all table and the type of data will be in form of list. If there is no table then data is not stored.

In [112]:
df55

[        Season   Age                                                 Tm  \
 0      1984-85  21.0                                                CHI
 1      1985-86  22.0                                                CHI
 2      1986-87  23.0                                                CHI
 3      1987-88  24.0                                                CHI
 4      1988-89  25.0                                                CHI
 5      1989-90  26.0                                                CHI
 6      1990-91  27.0                                                CHI
 7      1991-92  28.0                                                CHI
 8      1992-93  29.0                                                CHI
 9      1993-94  30.0  Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10     1994-95  31.0                                                CHI
 11     1995-96  32.0                                                CHI
 12     1996-97  33.0                                                CHI
 13     1997-98  34.0                                                CHI
 14     1998-99  35.0                             Did Not PlayÂ (retired)
 15     1999-00  36.0                             Did Not PlayÂ (retired)
 16     2000-01  37.0                             Did Not PlayÂ (retired)
 17     2001-02  38.0                                                WAS
 18     2002-03  39.0                                                WAS
 19      Career   NaN                                                NaN
 20         NaN   NaN                                                NaN
 21  13 seasons   NaN                                                CHI
 22   2 seasons   NaN                                                WAS

                                                    Lg  \
 0                                                 NBA
 1                                                 NBA
 2                                                 NBA
 3                                                 NBA
 4                                                 NBA
 5                                                 NBA
 6                                                 NBA
 7                                                 NBA
 8                                                 NBA
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                NBA
 11                                                NBA
 12                                                NBA
 13                                                NBA
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                NBA
 18                                                NBA
 19                                                NBA
 20                                                NaN
 21                                                NBA
 22                                                NBA

                                                   Pos  \
 0                                                  SG
 1                                                  SG
 2                                                  SG
 3                                                  SG
 4                                                  SG
 5                                                  SG
 6                                                  SG
 7                                                  SG
 8                                                  SG
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                 SG
 11                                                 SG
 12                                                 SG
 13                                                 SG
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                 SF
 18                                                 SF
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN

                                                     G  \
 0                                                  82
 1                                                  18
 2                                                  82
 3                                                  82
 4                                                  81
 5                                                  82
 6                                                  82
 7                                                  80
 8                                                  78
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                 17
 11                                                 82
 12                                                 82
 13                                                 82
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                 60
 18                                                 82
 19                                               1072
 20                                                NaN
 21                                                930
 22                                                142

                                                    GS  \
 0                                                  82
 1                                                   7
 2                                                  82
 3                                                  82
 4                                                  81
 5                                                  82
 6                                                  82
 7                                                  80
 8                                                  78
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                 17
 11                                                 82
 12                                                 82
 13                                                 82
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                 53
 18                                                 67
 19                                               1039
 20                                                NaN
 21                                                919
 22                                                120

                                                    MP  \
 0                                                38.3
 1                                                25.1
 2                                                40.0
 3                                                40.4
 4                                                40.2
 5                                                39.0
 6                                                37.0
 7                                                38.8
 8                                                39.3
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                               39.3
 11                                               37.7
 12                                               37.9
 13                                               38.8
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                               34.9
 18                                               37.0
 19                                               38.3
 20                                                NaN
 21                                               38.6
 22                                               36.1

                                                    FG  \
 0                                                10.2
 1                                                 8.3
 2                                                13.4
 3                                                13.0
 4                                                11.9
 5                                                12.6
 6                                                12.1
 7                                                11.8
 8                                                12.7
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                9.8
 11                                               11.2
 12                                               11.2
 13                                               10.7
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                9.2
 18                                                8.3
 19                                               11.4
 20                                                NaN
 21                                               11.8
 22                                                8.7

                                                   FGA  ...  \
 0                                                19.8  ...
 1                                                18.2  ...
 2                                                27.8  ...
 3                                                24.4  ...
 4                                                22.2  ...
 5                                                24.0  ...
 6                                                22.4  ...
 7                                                22.7  ...
 8                                                25.7  ...
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...  ...
 10                                               23.8  ...
 11                                               22.6  ...
 12                                               23.1  ...
 13                                               23.1  ...
 14                             Did Not PlayÂ (retired)  ...
 15                             Did Not PlayÂ (retired)  ...
 16                             Did Not PlayÂ (retired)  ...
 17                                               22.1  ...
 18                                               18.6  ...
 19                                               22.9  ...
 20                                                NaN  ...
 21                                               23.3  ...
 22                                               20.1  ...

                                                   FT%  \
 0                                                .845
 1                                                .840
 2                                                .857
 3                                                .841
 4                                                .850
 5                                                .848
 6                                                .851
 7                                                .832
 8                                                .837
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                               .801
 11                                               .834
 12                                               .833
 13                                               .784
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                               .790
 18                                               .821
 19                                               .835
 20                                                NaN
 21                                               .838
 22                                               .805

                                                   ORB  \
 0                                                 2.0
 1                                                 1.3
 2                                                 2.0
 3                                                 1.7
 4                                                 1.8
 5                                                 1.7
 6                                                 1.4
 7                                                 1.1
 8                                                 1.7
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                1.5
 11                                                1.8
 12                                                1.4
 13                                                1.6
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                0.8
 18                                                0.9
 19                                                1.6
 20                                                NaN
 21                                                1.7
 22                                                0.9

                                                   DRB  \
 0                                                 4.5
 1                                                 2.3
 2                                                 3.2
 3                                                 3.8
 4                                                 6.2
 5                                                 5.1
 6                                                 4.6
 7                                                 5.3
 8                                                 5.0
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                5.4
 11                                                4.8
 12                                                4.5
 13                                                4.2
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                4.8
 18                                                5.2
 19                                                4.7
 20                                                NaN
 21                                                4.6
 22                                                5.0

                                                   TRB  \
 0                                                 6.5
 1                                                 3.6
 2                                                 5.2
 3                                                 5.5
 4                                                 8.0
 5                                                 6.9
 6                                                 6.0
 7                                                 6.4
 8                                                 6.7
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                6.9
 11                                                6.6
 12                                                5.9
 13                                                5.8
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                5.7
 18                                                6.1
 19                                                6.2
 20                                                NaN
 21                                                6.3
 22                                                5.9

                                                   AST  \
 0                                                 5.9
 1                                                 2.9
 2                                                 4.6
 3                                                 5.9
 4                                                 8.0
 5                                                 6.3
 6                                                 5.5
 7                                                 6.1
 8                                                 5.5
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                5.3
 11                                                4.3
 12                                                4.3
 13                                                3.5
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                5.2
 18                                                3.8
 19                                                5.3
 20                                                NaN
 21                                                5.4
 22                                                4.4

                                                   STL  \
 0                                                 2.4
 1                                                 2.1
 2                                                 2.9
 3                                                 3.2
 4                                                 2.9
 5                                                 2.8
 6                                                 2.7
 7                                                 2.3
 8                                                 2.8
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                1.8
 11                                                2.2
 12                                                1.7
 13                                                1.7
 14                             Did Not PlayÂ (retired)
 15                             Did Not PlayÂ (retired)
 16                             Did Not PlayÂ (retired)
 17                                                1.4
 18                                                1.5
 19                                                2.3
 20                                                NaN
 21                                                2.5
 22                                                1.5

                                                   BLK  \
 0                                                 0.8
 1                                                 1.2
 2                                                 1.5
 3                                                 1.6
 4                                                 0.8
 5                                                 0.7
 6                                                 1.0
 7                                                 0.9
 8                                                 0.8
 9   Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
 10                                                0.8
 11                                                0.5
 12                                                0.5

In [115]:
type(df55)

list

### To know how many tables does a HTML pages contains

In [117]:
len(df55)
# This table contains 6 tables

6

In [119]:
df55[0]
# First table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1984-85,21.0,CHI,NBA,SG,82,82,38.3,10.2,19.8,...,.845,2.0,4.5,6.5,5.9,2.4,0.8,3.5,3.5,28.2
1,1985-86,22.0,CHI,NBA,SG,18,7,25.1,8.3,18.2,...,.840,1.3,2.3,3.6,2.9,2.1,1.2,2.5,2.6,22.7
2,1986-87,23.0,CHI,NBA,SG,82,82,40.0,13.4,27.8,...,.857,2.0,3.2,5.2,4.6,2.9,1.5,3.3,2.9,37.1
3,1987-88,24.0,CHI,NBA,SG,82,82,40.4,13.0,24.4,...,.841,1.7,3.8,5.5,5.9,3.2,1.6,3.1,3.3,35.0
4,1988-89,25.0,CHI,NBA,SG,81,81,40.2,11.9,22.2,...,.850,1.8,6.2,8.0,8.0,2.9,0.8,3.6,3.0,32.5
5,1989-90,26.0,CHI,NBA,SG,82,82,39.0,12.6,24.0,...,.848,1.7,5.1,6.9,6.3,2.8,0.7,3.0,2.9,33.6
6,1990-91,27.0,CHI,NBA,SG,82,82,37.0,12.1,22.4,...,.851,1.4,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5
7,1991-92,28.0,CHI,NBA,SG,80,80,38.8,11.8,22.7,...,.832,1.1,5.3,6.4,6.1,2.3,0.9,2.5,2.5,30.1
8,1992-93,29.0,CHI,NBA,SG,78,78,39.3,12.7,25.7,...,.837,1.7,5.0,6.7,5.5,2.8,0.8,2.7,2.4,32.6
9,1993-94,30.0,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...,Did Not PlayÂ (Minor League Baseballâ€”Birmingham...
10,1994-95,31.0,CHI,NBA,SG,17,17,39.3,9.8,23.8,...,.801,1.5,5.4,6.9,5.3,1.8,0.8,2.1,2.8,26.9
11,1995-96,32.0,CHI,NBA,SG,82,82,37.7,11.2,22.6,...,.834,1.8,4.8,6.6,4.3,2.2,0.5,2.4,2.4,30.4
12,1996-97,33.0,CHI,NBA,SG,82,82,37.9,11.2,23.1,...,.833,1.4,4.5,5.9,4.3,1.7,0.5,2.0,1.9,29.6
13,1997-98,34.0,CHI,NBA,SG,82,82,38.8,10.7,23.1,...,.784,1.6,4.2,5.8,3.5,1.7,0.5,2.3,1.8,28.7
14,1998-99,35.0,Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),...,Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired)
15,1999-00,36.0,Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),...,Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired)
16,2000-01,37.0,Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),...,Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired),Did Not PlayÂ (retired)
17,2001-02,38.0,WAS,NBA,SF,60,53,34.9,9.2,22.1,...,.790,0.8,4.8,5.7,5.2,1.4,0.4,2.7,2.0,22.9
18,2002-03,39.0,WAS,NBA,SF,82,67,37.0,8.3,18.6,...,.821,0.9,5.2,6.1,3.8,1.5,0.5,2.1,2.1,20.0
19,Career,NaN,NaN,NBA,NaN,1072,1039,38.3,11.4,22.9,...,.835,1.6,4.7,6.2,5.3,2.3,0.8,2.7,2.6,30.1
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,13 seasons,NaN,CHI,NBA,NaN,930,919,38.6,11.8,23.3,...,.838,1.7,4.6,6.3,5.4,2.5,0.9,2.8,2.7,31.5
22,2 seasons,NaN,WAS,NBA,NaN,142,120,36.1,8.7,20.1,...,.805,0.9,5.0,5.9,4.4,1.5,0.5,2.4,2.0,21.2

In [121]:
df55[1]
# Second table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1984-85,21.0,CHI,NBA,SG,4.0,4.0,42.8,8.5,19.5,...,0.828,1.8,4.0,5.8,8.5,2.8,1.0,3.8,3.8,29.3
1,1985-86,22.0,CHI,NBA,SG,3.0,3.0,45.0,16.0,31.7,...,0.872,1.7,4.7,6.3,5.7,2.3,1.3,4.7,4.3,43.7
2,1986-87,23.0,CHI,NBA,SG,3.0,3.0,42.7,11.7,28.0,...,0.897,2.3,4.7,7.0,6.0,2.0,2.3,2.7,3.7,35.7
3,1987-88,24.0,CHI,NBA,SG,10.0,10.0,42.7,13.8,26.0,...,0.869,2.3,4.8,7.1,4.7,2.4,1.1,3.9,3.8,36.3
4,1988-89,25.0,CHI,NBA,SG,17.0,17.0,42.2,11.7,22.9,...,0.799,1.5,5.5,7.0,7.6,2.5,0.8,4.0,3.8,34.8
5,1989-90,26.0,CHI,NBA,SG,16.0,16.0,42.1,13.7,26.6,...,0.836,1.5,5.7,7.2,6.8,2.8,0.9,3.5,3.4,36.7
6,1990-91,27.0,CHI,NBA,SG,17.0,17.0,40.5,11.6,22.1,...,0.845,1.1,5.3,6.4,8.4,2.4,1.4,2.5,3.1,31.1
7,1991-92,28.0,CHI,NBA,SG,22.0,22.0,41.8,13.2,26.4,...,0.857,1.7,4.5,6.2,5.8,2.0,0.7,3.7,2.8,34.5
8,1992-93,29.0,CHI,NBA,SG,19.0,19.0,41.2,13.2,27.8,...,0.805,1.7,5.1,6.7,6.0,2.1,0.9,2.4,3.1,35.1
9,1994-95,31.0,CHI,NBA,SG,10.0,10.0,42.0,12.0,24.8,...,0.810,2.0,4.5,6.5,4.5,2.3,1.4,4.1,3.0,31.5
10,1995-96,32.0,CHI,NBA,SG,18.0,18.0,40.7,10.4,22.6,...,0.818,1.7,3.2,4.9,4.1,1.8,0.3,2.3,2.7,30.7
11,1996-97,33.0,CHI,NBA,SG,19.0,19.0,42.3,11.9,26.2,...,0.831,2.2,5.7,7.9,4.8,1.6,0.9,2.6,2.4,31.1
12,1997-98,34.0,CHI,NBA,SG,21.0,21.0,41.5,11.6,25.0,...,0.812,1.6,3.5,5.1,3.5,1.5,0.6,2.1,2.2,32.4
13,Career,NaN,NaN,NBA,NaN,179.0,179.0,41.8,12.2,25.1,...,0.828,1.7,4.7,6.4,5.7,2.1,0.9,3.1,3.0,33.4
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,13 seasons,NaN,CHI,NBA,NaN,179.0,179.0,41.8,12.2,25.1,...,0.828,1.7,4.7,6.4,5.7,2.1,0.9,3.1,3.0,33.4

In [123]:
df55[2]
# Third table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp Dbl
0,1984-85,21.0,CHI,NBA,SG,82.0,82.0,3144.0,837.0,1625.0,...,367.0,534.0,481.0,196.0,69.0,291.0,285.0,2313.0,NaN,3.0
1,1985-86,22.0,CHI,NBA,SG,18.0,7.0,451.0,150.0,328.0,...,41.0,64.0,53.0,37.0,21.0,45.0,46.0,408.0,NaN,0.0
2,1986-87,23.0,CHI,NBA,SG,82.0,82.0,3281.0,1098.0,2279.0,...,264.0,430.0,377.0,236.0,125.0,272.0,237.0,3041.0,NaN,0.0
3,1987-88,24.0,CHI,NBA,SG,82.0,82.0,3311.0,1069.0,1998.0,...,310.0,449.0,485.0,259.0,131.0,252.0,270.0,2868.0,NaN,2.0
4,1988-89,25.0,CHI,NBA,SG,81.0,81.0,3255.0,966.0,1795.0,...,503.0,652.0,650.0,234.0,65.0,290.0,247.0,2633.0,NaN,15.0
5,1989-90,26.0,CHI,NBA,SG,82.0,82.0,3197.0,1034.0,1964.0,...,422.0,565.0,519.0,227.0,54.0,247.0,241.0,2753.0,NaN,1.0
6,1990-91,27.0,CHI,NBA,SG,82.0,82.0,3034.0,990.0,1837.0,...,374.0,492.0,453.0,223.0,83.0,202.0,229.0,2580.0,NaN,0.0
7,1991-92,28.0,CHI,NBA,SG,80.0,80.0,3102.0,943.0,1818.0,...,420.0,511.0,489.0,182.0,75.0,200.0,201.0,2404.0,NaN,2.0
8,1992-93,29.0,CHI,NBA,SG,78.0,78.0,3067.0,992.0,2003.0,...,387.0,522.0,428.0,221.0,61.0,207.0,188.0,2541.0,NaN,4.0
9,1994-95,31.0,CHI,NBA,SG,17.0,17.0,668.0,166.0,404.0,...,92.0,117.0,90.0,30.0,13.0,35.0,47.0,457.0,NaN,0.0
10,1995-96,32.0,CHI,NBA,SG,82.0,82.0,3090.0,916.0,1850.0,...,395.0,543.0,352.0,180.0,42.0,197.0,195.0,2491.0,NaN,0.0
11,1996-97,33.0,CHI,NBA,SG,82.0,82.0,3106.0,920.0,1892.0,...,369.0,482.0,352.0,140.0,44.0,166.0,156.0,2431.0,NaN,1.0
12,1997-98,34.0,CHI,NBA,SG,82.0,82.0,3181.0,881.0,1893.0,...,345.0,475.0,283.0,141.0,45.0,185.0,151.0,2357.0,NaN,0.0
13,2001-02,38.0,WAS,NBA,SF,60.0,53.0,2093.0,551.0,1324.0,...,289.0,339.0,310.0,85.0,26.0,162.0,119.0,1375.0,NaN,0.0
14,2002-03,39.0,WAS,NBA,SF,82.0,67.0,3031.0,679.0,1527.0,...,426.0,497.0,311.0,123.0,39.0,173.0,171.0,1640.0,NaN,0.0
15,Career,NaN,NaN,NBA,NaN,1072.0,1039.0,41011.0,12192.0,24537.0,...,5004.0,6672.0,5633.0,2514.0,893.0,2924.0,2783.0,32292.0,NaN,28.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,13 seasons,NaN,CHI,NBA,NaN,930.0,919.0,35887.0,10962.0,21686.0,...,4289.0,5836.0,5012.0,2306.0,828.0,2589.0,2493.0,29277.0,NaN,28.0
18,2 seasons,NaN,WAS,NBA,NaN,142.0,120.0,5124.0,1230.0,2851.0,...,715.0,836.0,621.0,208.0,65.0,335.0,290.0,3015.0,NaN,0.0

In [124]:
df55[3]
# Fourth table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp Dbl
0,1984-85,21.0,CHI,NBA,SG,4.0,4.0,171.0,34.0,78.0,...,16.0,23.0,34.0,11.0,4.0,15.0,15.0,117.0,NaN,0.0
1,1985-86,22.0,CHI,NBA,SG,3.0,3.0,135.0,48.0,95.0,...,14.0,19.0,17.0,7.0,4.0,14.0,13.0,131.0,NaN,0.0
2,1986-87,23.0,CHI,NBA,SG,3.0,3.0,128.0,35.0,84.0,...,14.0,21.0,18.0,6.0,7.0,8.0,11.0,107.0,NaN,0.0
3,1987-88,24.0,CHI,NBA,SG,10.0,10.0,427.0,138.0,260.0,...,48.0,71.0,47.0,24.0,11.0,39.0,38.0,363.0,NaN,0.0
4,1988-89,25.0,CHI,NBA,SG,17.0,17.0,718.0,199.0,390.0,...,93.0,119.0,130.0,42.0,13.0,68.0,65.0,591.0,NaN,1.0
5,1989-90,26.0,CHI,NBA,SG,16.0,16.0,674.0,219.0,426.0,...,91.0,115.0,109.0,45.0,14.0,56.0,54.0,587.0,NaN,0.0
6,1990-91,27.0,CHI,NBA,SG,17.0,17.0,689.0,197.0,376.0,...,90.0,108.0,142.0,40.0,23.0,43.0,53.0,529.0,NaN,0.0
7,1991-92,28.0,CHI,NBA,SG,22.0,22.0,920.0,290.0,581.0,...,100.0,137.0,127.0,44.0,16.0,81.0,62.0,759.0,NaN,0.0
8,1992-93,29.0,CHI,NBA,SG,19.0,19.0,783.0,251.0,528.0,...,96.0,128.0,114.0,39.0,17.0,45.0,58.0,666.0,NaN,1.0
9,1994-95,31.0,CHI,NBA,SG,10.0,10.0,420.0,120.0,248.0,...,45.0,65.0,45.0,23.0,14.0,41.0,30.0,315.0,NaN,0.0
10,1995-96,32.0,CHI,NBA,SG,18.0,18.0,733.0,187.0,407.0,...,58.0,89.0,74.0,33.0,6.0,42.0,49.0,552.0,NaN,0.0
11,1996-97,33.0,CHI,NBA,SG,19.0,19.0,804.0,227.0,498.0,...,108.0,150.0,91.0,30.0,17.0,49.0,46.0,590.0,NaN,0.0
12,1997-98,34.0,CHI,NBA,SG,21.0,21.0,872.0,243.0,526.0,...,74.0,107.0,74.0,32.0,12.0,45.0,47.0,680.0,NaN,0.0
13,Career,NaN,NaN,NBA,NaN,179.0,179.0,7474.0,2188.0,4497.0,...,847.0,1152.0,1022.0,376.0,158.0,546.0,541.0,5987.0,NaN,2.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,13 seasons,NaN,CHI,NBA,NaN,179.0,179.0,7474.0,2188.0,4497.0,...,847.0,1152.0,1022.0,376.0,158.0,546.0,541.0,5987.0,NaN,2.0

In [125]:
df55[4]
# Fifth table

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1984-85,21.0,CHI,NBA,SG,82.0,3144.0,25.8,0.592,0.032,...,NaN,10.3,3.7,14.0,0.213,NaN,5.8,1.5,7.3,7.4
1,1985-86,22.0,CHI,NBA,SG,18.0,451.0,27.5,0.533,0.055,...,NaN,1.0,0.5,1.5,0.160,NaN,7.5,2.2,9.7,1.3
2,1986-87,23.0,CHI,NBA,SG,82.0,3281.0,29.8,0.562,0.029,...,NaN,11.9,5.0,16.9,0.247,NaN,8.4,2.4,10.8,10.6
3,1987-88,24.0,CHI,NBA,SG,82.0,3311.0,31.7,0.603,0.027,...,NaN,15.2,6.1,21.2,0.308,NaN,8.8,4.2,13.0,12.5
4,1988-89,25.0,CHI,NBA,SG,81.0,3255.0,31.1,0.614,0.055,...,NaN,14.6,5.2,19.8,0.292,NaN,8.4,3.4,11.9,11.4
5,1989-90,26.0,CHI,NBA,SG,82.0,3197.0,31.2,0.606,0.125,...,NaN,14.7,4.3,19.0,0.285,NaN,9.1,2.1,11.2,10.6
6,1990-91,27.0,CHI,NBA,SG,82.0,3034.0,31.6,0.605,0.051,...,NaN,14.9,5.4,20.3,0.321,NaN,8.9,3.2,12.0,10.8
7,1991-92,28.0,CHI,NBA,SG,80.0,3102.0,27.7,0.579,0.055,...,NaN,12.1,5.6,17.7,0.274,NaN,7.2,2.5,9.7,9.2
8,1992-93,29.0,CHI,NBA,SG,78.0,3067.0,29.7,0.564,0.115,...,NaN,12.0,5.2,17.2,0.270,NaN,8.7,2.6,11.2,10.2
9,1994-95,31.0,CHI,NBA,SG,17.0,668.0,22.1,0.493,0.079,...,NaN,1.2,1.1,2.3,0.167,NaN,3.6,0.6,4.2,1.1
10,1995-96,32.0,CHI,NBA,SG,82.0,3090.0,29.4,0.582,0.141,...,NaN,14.2,6.2,20.4,0.317,NaN,8.3,2.2,10.5,9.8
11,1996-97,33.0,CHI,NBA,SG,82.0,3106.0,27.8,0.567,0.157,...,NaN,13.3,5.0,18.3,0.283,NaN,7.8,1.1,8.9,8.6
12,1997-98,34.0,CHI,NBA,SG,82.0,3181.0,25.2,0.533,0.067,...,NaN,10.4,5.4,15.8,0.238,NaN,5.9,1.0,6.9,7.1
13,2001-02,38.0,WAS,NBA,SF,60.0,2093.0,20.7,0.468,0.040,...,NaN,1.2,2.1,3.3,0.075,NaN,3.2,-0.1,3.1,2.7
14,2002-03,39.0,WAS,NBA,SF,82.0,3031.0,19.3,0.491,0.036,...,NaN,2.9,3.4,6.2,0.099,NaN,1.8,0.0,1.7,2.8
15,Career,NaN,NaN,NBA,NaN,1072.0,41011.0,27.9,0.569,0.072,...,NaN,149.9,64.1,214.0,0.250,NaN,7.2,2.0,9.2,116.1
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,13 seasons,NaN,CHI,NBA,NaN,930.0,35887.0,29.1,0.580,0.077,...,NaN,145.8,58.7,204.5,0.274,NaN,7.9,2.3,10.2,110.6
18,2 seasons,NaN,WAS,NBA,NaN,142.0,5124.0,19.9,0.480,0.038,...,NaN,4.1,5.5,9.5,0.089,NaN,2.4,-0.1,2.3,5.5

In [126]:
df55[5]
# Sixth table

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1984-85,21.0,CHI,NBA,SG,4.0,171.0,24.7,0.565,0.103,...,NaN,0.6,0.1,0.7,0.198,NaN,7.6,1.9,9.5,0.5
1,1985-86,22.0,CHI,NBA,SG,3.0,135.0,30.1,0.584,0.011,...,NaN,0.4,0.0,0.5,0.161,NaN,10.1,1.7,11.9,0.4
2,1986-87,23.0,CHI,NBA,SG,3.0,128.0,28.1,0.529,0.060,...,NaN,0.3,0.1,0.4,0.165,NaN,9.9,2.9,12.7,0.5
3,1987-88,24.0,CHI,NBA,SG,10.0,427.0,28.4,0.598,0.012,...,NaN,1.3,0.8,2.1,0.234,NaN,8.5,3.7,12.2,1.5
4,1988-89,25.0,CHI,NBA,SG,17.0,718.0,29.9,0.602,0.090,...,NaN,2.8,1.2,4.0,0.270,NaN,9.1,3.1,12.1,2.5
5,1989-90,26.0,CHI,NBA,SG,16.0,674.0,31.7,0.592,0.117,...,NaN,2.7,1.3,4.0,0.284,NaN,10.2,3.5,13.7,2.7
6,1990-91,27.0,CHI,NBA,SG,17.0,689.0,32.0,0.600,0.069,...,NaN,3.2,1.5,4.8,0.333,NaN,10.5,4.1,14.6,2.9
7,1991-92,28.0,CHI,NBA,SG,22.0,920.0,27.2,0.571,0.076,...,NaN,2.4,1.7,4.1,0.216,NaN,8.3,1.6,9.9,2.8
8,1992-93,29.0,CHI,NBA,SG,19.0,783.0,30.1,0.553,0.136,...,NaN,3.3,1.1,4.4,0.270,NaN,9.7,1.8,11.6,2.7
9,1994-95,31.0,CHI,NBA,SG,10.0,420.0,24.8,0.557,0.121,...,NaN,0.7,0.6,1.3,0.150,NaN,5.8,2.2,8.0,1.0
10,1995-96,32.0,CHI,NBA,SG,18.0,733.0,26.7,0.564,0.152,...,NaN,3.4,1.3,4.7,0.306,NaN,8.8,1.9,10.7,2.4
11,1996-97,33.0,CHI,NBA,SG,19.0,804.0,27.1,0.524,0.135,...,NaN,2.5,1.5,3.9,0.235,NaN,8.1,1.7,9.9,2.4
12,1997-98,34.0,CHI,NBA,SG,21.0,872.0,28.1,0.545,0.082,...,NaN,3.6,1.2,4.8,0.265,NaN,8.0,1.0,9.0,2.4
13,Career,NaN,NaN,NBA,NaN,179.0,7474.0,28.6,0.568,0.099,...,NaN,27.3,12.4,39.8,0.255,NaN,8.8,2.3,11.1,24.7
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,13 seasons,NaN,CHI,NBA,NaN,179.0,7474.0,28.6,0.568,0.099,...,NaN,27.3,12.4,39.8,0.255,NaN,8.8,2.3,11.1,24.7

### Dumping above table in form of csv

In [127]:
df55[5].to_csv('Dump.csv')

In [128]:
pd.read_csv('Dump.csv')

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,0,1984-85,21.0,CHI,NBA,SG,4.0,171.0,24.7,0.565,...,NaN,0.6,0.1,0.7,0.198,NaN,7.6,1.9,9.5,0.5
1,1,1985-86,22.0,CHI,NBA,SG,3.0,135.0,30.1,0.584,...,NaN,0.4,0.0,0.5,0.161,NaN,10.1,1.7,11.9,0.4
2,2,1986-87,23.0,CHI,NBA,SG,3.0,128.0,28.1,0.529,...,NaN,0.3,0.1,0.4,0.165,NaN,9.9,2.9,12.7,0.5
3,3,1987-88,24.0,CHI,NBA,SG,10.0,427.0,28.4,0.598,...,NaN,1.3,0.8,2.1,0.234,NaN,8.5,3.7,12.2,1.5
4,4,1988-89,25.0,CHI,NBA,SG,17.0,718.0,29.9,0.602,...,NaN,2.8,1.2,4.0,0.270,NaN,9.1,3.1,12.1,2.5
5,5,1989-90,26.0,CHI,NBA,SG,16.0,674.0,31.7,0.592,...,NaN,2.7,1.3,4.0,0.284,NaN,10.2,3.5,13.7,2.7
6,6,1990-91,27.0,CHI,NBA,SG,17.0,689.0,32.0,0.600,...,NaN,3.2,1.5,4.8,0.333,NaN,10.5,4.1,14.6,2.9
7,7,1991-92,28.0,CHI,NBA,SG,22.0,920.0,27.2,0.571,...,NaN,2.4,1.7,4.1,0.216,NaN,8.3,1.6,9.9,2.8
8,8,1992-93,29.0,CHI,NBA,SG,19.0,783.0,30.1,0.553,...,NaN,3.3,1.1,4.4,0.270,NaN,9.7,1.8,11.6,2.7
9,9,1994-95,31.0,CHI,NBA,SG,10.0,420.0,24.8,0.557,...,NaN,0.7,0.6,1.3,0.150,NaN,5.8,2.2,8.0,1.0
10,10,1995-96,32.0,CHI,NBA,SG,18.0,733.0,26.7,0.564,...,NaN,3.4,1.3,4.7,0.306,NaN,8.8,1.9,10.7,2.4
11,11,1996-97,33.0,CHI,NBA,SG,19.0,804.0,27.1,0.524,...,NaN,2.5,1.5,3.9,0.235,NaN,8.1,1.7,9.9,2.4
12,12,1997-98,34.0,CHI,NBA,SG,21.0,872.0,28.1,0.545,...,NaN,3.6,1.2,4.8,0.265,NaN,8.0,1.0,9.0,2.4
13,13,Career,NaN,NaN,NBA,NaN,179.0,7474.0,28.6,0.568,...,NaN,27.3,12.4,39.8,0.255,NaN,8.8,2.3,11.1,24.7
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,13 seasons,NaN,CHI,NBA,NaN,179.0,7474.0,28.6,0.568,...,NaN,27.3,12.4,39.8,0.255,NaN,8.8,2.3,11.1,24.7

### Reading a csv file present on github

In [130]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Creating a dataframe

In [133]:
df = pd.DataFrame(

    {
        "Name" : ["Anmol","Abhi","Reyu","Adhu"],
        "Age" : [26,21,6,15],
        "Favorite Dish" : ["Butter Chicken","Mutton","Fish","Duck"]
    }
)

In [134]:
df

    Name  Age   Favorite Dish
0  Anmol   26  Butter Chicken
1   Abhi   21          Mutton
2   Reyu    6            Fish
3   Adhu   15            Duck

In [ ]:
{
 "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json Jump #",
 "contentVersion": "1.0.0.0",
 "parameters": {
 "location": {
 "value": "eastus"---Look at location this is EastUS what we selected
 },
 "networkInterfaceName": {
 "value": "azuretestvm974"
 },
 "networkSecurityGroupName": {
 "value": "AzureTestVM-nsg"--This is the NSG name
 },
 "networkSecurityGroupRules": {
 "value": [
 {
 "name": "RDP",--This is about the port which we allowed
 "properties": {
 "priority": 300,
 "protocol": "TCP",
 "access": "Allow",
 "direction": "Inbound",
 "sourceAddressPrefix": "*",
 "sourcePortRange": "*",
 "destinationAddressPrefix": "*",
 "destinationPortRange": "3389"
 }
 }
 ]
 },
 "subnetName": {
 "value": "default"
 },
 "virtualNetworkId": {
 "value": "/subscriptions/6400b22f-788d-48da-a164-b915c9678bd1/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/Test-vnet"
 },
 "publicIpAddressName": {
 "value": "AzureTestVM-ip"---This is name of public IP address
 },
 "publicIpAddressType": {
 "value": "Static"
 },
 "publicIpAddressSku": {
 "value": "Standard"
 },
 "virtualMachineName": {
 "value": "AzureTestVM"---This is the VM name
 },
 "virtualMachineRG": {
 "value": "Test"
 },
 "osDiskType": {
 "value": "Standard_LRS"
 },
 "virtualMachineSize": {
 "value": "Standard_DS1_v2"
 },
 "adminUsername": {
 "value": "Shashank"
 },
 "adminPassword": {
 "value": null
 },
 "diagnosticsStorageAccountName": {
 "value": "storageacc621"   ---This is storage account name
 },
 "diagnosticsStorageAccountId": {
 "value": "/subscriptions/6400b22f-788d-48da-a164-b915c9678bd1/resourceGroups/Test/providers/Microsoft.Storage/storageAccounts/storageacc621"
 },
 "zone": {
 "value": "3"
 }
 }
}

In [140]:
pd.DataFrame({
 "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json Jump #",
 "contentVersion": "1.0.0.0",
 "parameters": {
 "location": {
 "value": "eastus"
 },
 "networkInterfaceName": {
 "value": "azuretestvm974"
 },
 "networkSecurityGroupName": {
 "value": "AzureTestVM-nsg"
 },
 "networkSecurityGroupRules": {
 "value": [
 {
 "name": "RDP",
 "properties": {
 "priority": 300,
 "protocol": "TCP",
 "access": "Allow",
 "direction": "Inbound",
 "sourceAddressPrefix": "*",
 "sourcePortRange": "*",
 "destinationAddressPrefix": "*",
 "destinationPortRange": "3389"
 }
 }
 ]
 },
 "subnetName": {
 "value": "default"
 },
 "virtualNetworkId": {
 "value": "/subscriptions/6400b22f-788d-48da-a164-b915c9678bd1/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/Test-vnet"
 },
 "publicIpAddressName": {
 "value": "AzureTestVM-ip"
 },
 "publicIpAddressType": {
 "value": "Static"
 },
 "publicIpAddressSku": {
 "value": "Standard"
 },
 "virtualMachineName": {
 "value": "AzureTestVM"
 },
 "virtualMachineRG": {
 "value": "Test"
 },
 "osDiskType": {
 "value": "Standard_LRS"
 },
 "virtualMachineSize": {
 "value": "Standard_DS1_v2"
 },
 "adminUsername": {
 "value": "Shashank"
 },
 "adminPassword": {
 "value": "Passowrd"
 },
 "diagnosticsStorageAccountName": {
 "value": "storageacc621" 
 },
 "diagnosticsStorageAccountId": {
 "value": "/subscriptions/6400b22f-788d-48da-a164-b915c9678bd1/resourceGroups/Test/providers/Microsoft.Storage/storageAccounts/storageacc621"
 },
 "zone": {
 "value": "3"
 }
 }
})

,$schema,contentVersion,parameters
adminPassword,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'Passowrd'}
adminUsername,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'Shashank'}
diagnosticsStorageAccountId,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': '/subscriptions/6400b22f-788d-48da-a...
diagnosticsStorageAccountName,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'storageacc621'}
location,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'eastus'}
networkInterfaceName,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'azuretestvm974'}
networkSecurityGroupName,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'AzureTestVM-nsg'}
networkSecurityGroupRules,https://schema.management.azure.com/schemas/20...,1.0.0.0,"{'value': [{'name': 'RDP', 'properties': {'pri..."
osDiskType,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'Standard_LRS'}
publicIpAddressName,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'AzureTestVM-ip'}
publicIpAddressSku,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'Standard'}
publicIpAddressType,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'Static'}
subnetName,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'default'}
virtualMachineName,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'AzureTestVM'}
virtualMachineRG,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'Test'}
virtualMachineSize,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': 'Standard_DS1_v2'}
virtualNetworkId,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': '/subscriptions/6400b22f-788d-48da-a...
zone,https://schema.management.azure.com/schemas/20...,1.0.0.0,{'value': '3'}